---
- name: Deploy Flask portfolio on EC2 (Gunicorn + Nginx)
  hosts: web
  become: true
  vars:
    app_user: app
    app_dir: /opt/portfolio
    venv_dir: /opt/portfolio/venv
    repo_url: https://github.com/SamXl-Codes/devops-aws-terraform-ansible-cicd.git

  tasks:
    - name: Install required packages
      yum:
        name:
          - python3
          - python3-pip
          - git
          - nginx
        state: present

    - name: Create app user
      user:
        name: "{{ app_user }}"
        shell: /bin/bash

    - name: Create app directory
      file:
        path: "{{ app_dir }}"
        state: directory
        owner: "{{ app_user }}"
        group: "{{ app_user }}"
        mode: '0755'

    - name: Clone repository
      git:
        repo: "{{ repo_url }}"
        dest: "{{ app_dir }}"
        version: main
        force: yes
      become_user: "{{ app_user }}"

    - name: Create virtual environment
      command: python3 -m venv "{{ venv_dir }}"
      args:
        creates: "{{ venv_dir }}/bin/activate"
      become_user: "{{ app_user }}"

    - name: Install Python packages
      pip:
        requirements: "{{ app_dir }}/requirements.txt"
        virtualenv: "{{ venv_dir }}"
      become_user: "{{ app_user }}"
      ignore_errors: yes

    - name: Install Gunicorn
      pip:
        name: gunicorn
        virtualenv: "{{ venv_dir }}"
      become_user: "{{ app_user }}"

    - name: Deploy Gunicorn service
      template:
        src: gunicorn.service.j2
        dest: /etc/systemd/system/portfolio.service
        mode: '0644'
      notify: restart portfolio

    - name: Deploy Nginx config
      template:
        src: nginx.conf.j2
        dest: /etc/nginx/conf.d/portfolio.conf
      notify: reload nginx

    - name: Enable and start services
      systemd:
        name: "{{ item }}"
        enabled: yes
        state: started
        daemon_reload: yes
      loop:
        - portfolio
        - nginx

  handlers:
    - name: restart portfolio
      systemd:
        name: portfolio
        state: restarted
        daemon_reload: yes

    - name: reload nginx
      systemd:
        name: nginx
        state: reloaded
