# Terraform junk
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Big local archives
*.zip

# Python cache
__pycache__/
*.pyc
