# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Big/temporary files
*.zip
*.tar
*.tar.gz

# Python / Ansible
__pycache__/
*.pyc
*.pyo

# Node/npm (if ever used)
node_modules/
